// configs/themes.ts파일을 수정하면 적용됩니다.
$colors: (
  "foreground": #f1f1f1,
  "background": #333333,
  "white": #ffffff,
  "white70": #ffffffb2,
  "white50": #ffffff7f,
  "white30": #ffffff4c,
  "white10": #ffffff19,
  "gray1": #f3eceb,
  "gray2": #e2dddd,
  "gray3": #c0b5b2,
  "gray4": #98908f,
  "gray5": #655f5d,
  "gray6": #474342,
  "gray7": #2d2d2d,
  "black": #000000,
  "alert": #d8310d,
  "warning": #efac00,
  "success": #1ed300,
  "info": #0094d3,
);
$fonts: (
  "default": (
    font-size: 16px,
    font-weight: 400,
    letter-spacing: -0.6000000238418579px,
    line-height: 24px,
  ),
);
@function get-from-colors($key-name) {
  @return map-get($colors, $key-name);
}

@mixin get-from-fonts($name) {
  @each $mixin-name, $mixin-properties in $fonts {
    @if $name == $mixin-name {
      @each $property, $value in $mixin-properties {
        #{$property}: $value;
      }
    }
  }
}
///
/// @param {type} $color-name - key of $colors
/// @output - color: $color;
@mixin apply-color($color-name) {
  @each $key, $color in $colors {
    @if $key == $color-name {
      color: $color;
    }
  }
}
